.moreMenu {
  position: absolute;
  bottom: 80px;
  left: 12px;
  width: 250px;
  padding: 8px;
  border-radius: 16px;
  background-color: #fff;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  z-index: 20;

  .moreMenuItem {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 16px;
    border-radius: 8px;
    font-size: 13px;

    &:hover {
      background-color: rgba(219, 219, 219, .3);
    }
  }

  li:not(:last-child) {
    span {
      margin-left: 12px;
    }
  }

  hr {
    display: block;
    width: calc(100% + 16px);
    height: 7px;
    margin: 8px 0 8px -8px;
    background-color: rgba(219, 219, 219, .3);
    border: none;
  }
}
