.menuList {

  li {
    &:not(:first-child) {
      margin-top: 5px;
    }
  }

  a, button {
    width: 100%;
    display: block;
  }

  .menuItem {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 12px 10px;
    border-radius: 8px;
    &:hover {
     background-color: rgba(0, 0, 0, .05);
    }
    span {
      padding-left: 16px;
    }
  }
}

