.navMenu {
  //position: relative;
  width: 100%;
  height: 100%;
  transition: width .3s;
  padding: 8px 12px 20px;
  border-right: 1px solid #ccc;
  overflow: hidden;
  //border-right: 1px solid #ccc;

  .menuList {
    display: flex;
    flex-direction: column;
    width: 220px;
    height: 670px;
    overflow: hidden;
  }

  &.sidebarOpened {
    width: 70px;

    .menuButton {
      width: 44px;
    }

    span {
      display: none;
      //opacity: 0;
      //visibility: hidden;
    }
  }

  .logo {
    display: block;
    padding: 25px 12px;
  }
}

.menuItem {
  &:not(:first-child) {
    margin-top: 5px;
  }
}

.moreMenuBtn {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.menuButton {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 12px 10px;
  border-radius: 8px;
  //overflow: hidden;

  &:hover {
    background-color: rgba(0, 0, 0, .05);
  }
  svg {
    flex-basis: 24px;
  }
  span {
    display: block;
    white-space: nowrap;
    padding-left: 16px;

    &.bold {
      font-weight: bold;
    }
  }
}