.post {
  min-height: 300px;
  border-bottom: 1px solid #ccc;

  &:not(:last-child) {
    margin-bottom: 30px;
  }

  .postUser {
    display: flex;
    justify-content: space-between;
    margin-bottom: 12px;

    .user {
      display: flex;
      align-items: center;

      .profileImage {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        overflow: hidden;
        img {
          object-fit: cover;
        }
      }
      .userName {
        margin-left: 10px;
        font-size: 15px;
        font-weight: 600;
      }
      .dot {
        margin: 0 4px;
        color: gray;
        font-size: 10px;
      }
      .date {
        margin: 0 4px;
        color: gray;
        font-size: 14px;
      }
    }
  }

  .sliderWrap {
    height: 400px;
    overflow: hidden;
  }

  .postImage {
    position: relative;
    width: 100%;
    height: 400px;
    background-color: #eee;
  }

  .postBottom {
    .like {
      font-weight: 600;
    }
    .postContent {
      display: flex;
      align-items: center;
      margin-top: 5px;

      span {
        font-size: 14px;
        font-weight: 600;
      }
      .desc {
        font-size: 15px;
        margin-left: 5px;
      }
    }
    .moreComment {
      margin: 10px 0 2px;
      font-size: 15px;
      color: gray;
    }
  }
}