.post {
  min-height: 300px;
  border-bottom: 1px solid #ccc;

  &:not(:last-child) {
    margin-bottom: 30px;
  }

  .postUser {
    display: flex;
    justify-content: space-between;
    margin-bottom: 12px;

    .user {
      display: flex;
      align-items: center;

      .profileImage {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border: 1px solid #ddd;
        overflow: hidden;
        img {
          object-fit: cover;
        }
      }
      .userName {
        margin-left: 10px;
        font-size: 15px;
        font-weight: 600;
      }
      .dot {
        margin: 0 4px;
        color: gray;
        font-size: 10px;
      }
      .date {
        margin: 0 4px;
        color: gray;
        font-size: 14px;
      }
    }
  }

  .postImage {
    height: 300px;
    background-color: #eee;
  }

  .postBottom {
    .like {

    }
    .postContent {

    }
    .comments {

      .commentItem {

        .user {}
        .content {}
      }

    }
    .commentForm {

    }

  }
}