.profileButton {
  display: flex;
  justify-content: space-between;

  .profileLink {
    flex: 1;
    display: flex;
    align-items: center;
    padding: 8px 12px 8px 8px;
    border-radius: 50px;
    &:hover {
      background-color: rgba(0, 0, 0, .04);
    }

    .profileImage {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      border: 1px solid #ddd;
      overflow: hidden;

      img {
        object-fit: cover;
      }
    }

    .userName {
      margin-left: 12px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      span {
        max-width: 150px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        word-break: break-all;
      }

      .userId {
        font-weight: 600;
        font-size: 15px;
      }
      .userNickname {
        margin-top: 3px;
        font-size: 14px;
        color: gray;
      }
    }
  }

}

