.sidebar {
  position: absolute;
  left: 74px;
  top: 0;
  width: 0;
  height: 100dvh;
  opacity: 0;
  visibility: hidden;
  border-radius: 0 16px 16px 0;
  border-left: none;
  background-color: #fff;
  z-index: 10;
  //transition: width .3s ease, opacity .3s ease, visibility 0s .3s;
  transition: width .3s, visibility .5s, opacity .5s;
  transition-delay: .1s;
  box-shadow: 8px 0 14px rgba(0, 0, 0, 0.15);
  overflow: hidden;


  &.opened {
    width: 400px;
    border-left: 1px solid #eee;
    //transition-delay: 0s;
    opacity: 1;
    visibility: visible;
  }

  .sidebarInner {
    width: 100%;
    background-color: #fff;
    height: 100%;
  }

  .sidebarTitle {
    margin: 16px 0 8px;
    padding: 12px 14px 36px 24px;
    font-size: 24px;
    font-weight: 600;
  }
}