.storyTab {
  width: 100%;
  margin-bottom: 20px;

  .storyTabList {
    display: flex;
    justify-content: center;
    padding: 8px 0;
    &Item {
      margin-left: 17px;

      .profileImage {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        border: 1px solid #ddd;
        overflow: hidden;

        img {
          object-fit: cover;
        }
      }

      .userName {
        text-align: center;
        font-size: 12px;
      }
    }
  }
}