.actionButton {
  display: flex;
  margin: 8px -7px 0;

  .actionButtonItem {
    &:last-child {
      flex: 1;
      text-align: right;
    }

    button {
      padding: 7px;
      &:hover {
        opacity: .5;
      }
    }
  }
}