.modalWrap {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: self-start;
  width: 100dvw;
  height: 100dvh;
  z-index: 20;
  overflow: auto;
  padding: 50px 0;
  background: rgba(0, 0, 0, 0.65);
}

.modal {
  display: flex;
  flex-direction: column;
  height: 630px;
  border-radius: 10px;
  background-color: #fff;
  z-index: 20;

  &.autoHeight {
    height: auto;
  }
}

.modalHeader {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 45px;
  border-bottom: 1px solid #ddd;
}

.modalContent {
  position: relative;
  height: calc(100% - 40px);
}

.closeBtn {
  width: 34px;
  height: 34px;
  border-radius: 17px;
  border: none;
  cursor: pointer;
  background-color: #fff;
  position: absolute;
  right: 7px;
  top: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  &:hover {
    background-color: rgba(15,20,25, 0.1);
  }
}