.storyTab {
  width: 630px;
  margin-bottom: 20px;

  .storyTabList {
    position: relative;

    &Item {
      padding: 10px;

      .profileImageLink {
        display: inline-block;
      }

      .userName {
        text-align: center;
        font-size: 12px;
      }
    }
  }
}