.multipleSlider {
  .slick-list {
    //padding-top: 10px;
  }
  .slick-arrow {
    width: 23px;
    height: 23px;
    z-index: 5;
    &::before {
      font-size: 23px;
      color: gray;
    }

    &.slick-next {
      right: -5px;
    }
    &.slick-prev {
      left: -5px;
    }

    &.slick-disabled {
      display: none !important;
    }
  }
}
