.slickPost {
  .slick-slider {
    height: 100%;

    .slick-list {
      height: 100%;
      background-color: #bbb;
    }

    .slick-track {
      height: 100%;
    }

    .slick-arrow {
      width: 30px;
      height: 30px;
      z-index: 5;

      &.slick-disabled {
        cursor: auto;
      }

      &.slick-prev {
        left: 15px;
      }
      &.slick-next {
        right: 15px;
      }

      &.slick-prev:before,
      &.slick-next:before {
        font-size: 30px;
      }

      &.slick-disabled {
        display: none !important;
      }

    }
  }
}