.buttonWrap {
  width: 100%;

  button, a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 20px;
    padding: 0 15px;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 600;
    color: #fff;

    &[class*='primary'] {
      //color: #151515;
      color: #664d03;
      background-color: #ffc451;
    }
    &[class*='secondary'] {
      color: #664d03;
      background-color: #ebebeb;
    }

    &:hover {
      opacity: 0.8;
    }

    &:disabled {
      pointer-events: none;
      opacity: 0.5;

      &[class*='primary'] {
        //background-color: #c5defb;
      }
      &[class*='secondary'] {
        //background-color: #ddd;
      }
      &[class*='danger'] {
        //opacity: 0;
      }
    }

    &[class*='sm'] {
      height: 32px;
      font-size: 12px;
    }
    &[class*='md'] {
      height: 38px;
      font-size: 14px;
    }
  }
}

.textButton {
  margin-left: 16px;
  color: darkgoldenrod;
  font-size: 14px;
  font-weight: bold;
  white-space: nowrap;
  &:hover{
    opacity: 0.8;
  }
}