.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 100px;

  .mainHeader {}

  .mainInner {
    max-width: 100%;
    width: min(470px, 100vw); // TODO: 반응형을 만들지 않을 때 다시 수정 요함

    .checkAllPosts {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 32px 12px;

      strong {
        margin-bottom: 3px;
        font-size: 20px; // TODO: font-size, line-height 등 변수로 관리
        font-weight: 600;
      }

      span {
        margin-bottom: 15px;
        font-size: 14px;
      }
      .checkImage {
        margin-bottom: 16px;
      }
    }
  }
}