.mainSection {
  display: flex;
  padding-bottom: 100px;

  .leftSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 630px;
    .checkAllPosts {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 32px 12px;

      strong {
        margin-bottom: 3px;
        font-size: 20px; // TODO: font-size, line-height 등 변수로 관리
        font-weight: 600;
      }

      span {
        margin-bottom: 15px;
        font-size: 14px;
      }
      .checkImage {
        margin-bottom: 16px;
      }
    }
  }
}

.rightSection {
  width: 330px;
  height: 100dvh;
  padding-left: 64px;
}