.container {
  display: flex;
  align-items: stretch;
  background-color: #fff;

  .leftWrapper {

    .leftSection {
      width: 245px;
      .leftFixed {
        position: fixed;
        display: flex;
        flex-direction: column;
        width: inherit;
        height: 100dvh;
        padding: 8px 12px 20px;
        border-right: 1px solid #ccc;
        z-index: 10;
        > a {
          display: block;
          padding: 25px 12px;
        }
      }
    }
  }

  .rightWrapper {
    //width: 990px;
    display: flex;
    justify-content: center;
    height: 100dvh;
    flex-grow: 1;

    .main {
      width: 935px;
      display: flex;
      justify-content: center;
      margin-top: 20px;
    }
  }
}
