.container {
  display: flex;
  align-items: stretch;
  background-color: #fff;
  overflow-x: auto;

  .leftWrapper {

    .leftSection {
      width: 245px;
      .leftFixed {
        position: fixed;
        display: flex;
        flex-direction: column;
        width: inherit;
        height: 100dvh;
        z-index: 10;
        background-color: #fff;
      }
    }
  }

  .rightWrapper {
    //width: 990px;
    display: flex;
    justify-content: center;
    height: 100dvh;
    flex-grow: 1;

    .main {
      display: flex;
      justify-content: center;
      margin-top: 20px;
      padding: 0 30px 0 20px;
    }
  }
}
