.container {
  display: flex;
  align-items: stretch;
  background-color: #fff;

  .leftWrapper {
    display: flex;
    justify-content: flex-end;
    flex-grow: 1;
    .leftSection {
      width: 230px;
      .leftFixed {
        position: fixed;
        width: inherit;
        height: 100dvh;
        padding: 8px 12px 20px;
        border-right: 1px solid #ccc;
        z-index: 10;
        > a {
          display: block;
          padding: 25px 12px;
        }
      }
    }
  }

  .rightWrapper {
    width: 990px;
    height: 100dvh;
    flex-grow: 1;

    .rightWrapperInner {
      display: flex;
      .main {
        width: 630px;
        height: 200dvh;
        margin-top: 20px;
        //border: 1px solid #ddd;
      }
      .rightSection {
        width: 300px;
        height: 100dvh;
        margin-top: 26px;
      }
    }
  }
}
