.main {
  display: flex;
  width: 100dvw;
  min-height: 100dvh;
  color: darkred;
  background-color: #fff;

  .left {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .right {
    flex: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

}